body {
    font-size: 100%;
    font-family: 'Showcase Sans';
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Showcase Sans';
    color: #350921;
}

h1 {
    margin-top: 1em;
    font-size: 3.75em;
}

.nostyle {
    // add this class to <ul> elements that aren't lists per se (removes bullets)
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}

.page-home {
    .container {
        overflow-x: hidden;
    }
    .hero-outer {
        display: flex;
        align-items: center;
        justify-content: center;
        .hero-inner {
            position: relative;
            overflow-x: hidden;
            .hero-woman {
                position: absolute;
            }
            .hero-content {
                position: absolute;
                font-family: 'Showcase Sans';
                color: #fff;
                z-index: 999;
                h2 {
                    font-family: 'Showcase Sans';
                    font-size: 3em;
                    margin-bottom: 0.2em;
                    line-height: 0.85;
                    color: #fff;
                }
                h3 {
                    font-size: 2.2em;
                    font-weight: 500;
                    margin-bottom: 0.5rem;
                    color: darken(#de4096, 44%);
                    letter-spacing: 0.22px;
                    line-height: 0.7;
                }
                h3,
                h4 {
                    font-family: 'Showcase Sans Mini';
                }
                h4 {
                    font-size: 2.2em;
                    margin-bottom: 1rem;
                    letter-spacing: 0.5px;
                    font-weight: 500;
                    color: #fff;
                }
                .social-handle {
                    font-family: 'Showcase Sans';
                    font-size: 1.25rem;
                    letter-spacing: 1.5px;
                    a {
                        text-decoration: none;
                        color: #ffd00a;
                    }
                }
                p {
                    margin: 1em 0;
                    font-weight: 600;
                }
            }
        }
    }
    .home-testimonials {
        margin: 60px 0 100px;
        h2 {
            text-align: center;
            color: #0e8acb;
            font-family: 'Showcase Sans Mini';
            font-size: 4em;
            font-weight: 400;
            line-height: 0.64;
        }
        .testimonials {
            max-width: 1600px;
            margin: 0 auto;
            .testimonials-list {
                margin: 0 auto;
                list-style: none;
                margin: 0;
                padding: 0;
                display: grid;
                grid-gap: 36px;
                grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
                li {
                    padding: 12px 16px;
                    .testimonial-quote {
                        padding: 1em;
                        font-family: 'Showcase Sans Mini';
                        font-size: 1.64em;
                        font-weight: 500;
                        line-height: 0.77;
                        margin-bottom: 12px;
                        color: darken(#de4096, 34%);
                        background: lighten(#ffd00a, 36%);
                        border-radius: 6px;
                        position: relative;
                    }
                    .testimonial-quote:after {
                        top: 100%;
                        left: 20%;
                        border: solid transparent;
                        content: ' ';
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                        border-color: rgba(255, 208, 10, 0);
                        border-top-color: lighten(#ffd00a, 36%);
                        border-width: 15px;
                        margin-left: -15px;
                    }
                    .author {
                        font-family: 'Showcase Sans';
                        font-size: 1.05em;
                        font-weight: 600;
                        margin-top: 8px;
                        display: inline-block;
                    }
                    .author-title {
                        font-size: 1.05em;
                        font-family: 'Showcase Slab';
                        font-style: italic;
                        line-height: 1;
                        display: block;
                    }
                }
            }
        }
    }
    .gallery-outer {
        display: flex;
        align-items: center;
        justify-content: center;
        .gallery-inner {
            max-width: 1600px;
            h2 {
                text-align: center;
                color: #0e8acb;
                font-family: 'Showcase Sans Mini';
                font-size: 4em;
                font-weight: 400;
                line-height: 0.64;
            }
            .gallery-images {
                list-style: none;
                margin: 0;
                padding: 0;
                display: grid;
                grid-gap: 10px;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                li {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.blog-page {
    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        .inner-content {
            max-width: 900px;
            margin: 0 auto;
            .post-list {
                margin: 2.2em 0 3.3em;
                .list-post {
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 2.2em;
                    padding-bottom: 2.2em;
                    border-bottom: 1px dotted #dedede;
                    .list-image {
                        width: 150px;
                        margin-right: 1.5em;
                    }
                    .list-post-content {
                        max-width: 600px;
                        h2 {
                            font-size: 2.5em;
                            a {
                                text-decoration: none;
                            }
                        }
                        p {
                            font-family: 'solway', serif;
                            font-weight: 300;
                        }
                        .read-more {
                            margin-top: 1em;
                            a {
                                text-decoration: none;
                                &:hover,
                                &:focus {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 599px) {
    .blog-page {
        main {
            // padding: 0 1.5rem;
            h1 {
                margin-top: 1rem;
            }
        }
        .content {
            .inner-content {
                padding: 0 1.5rem;
                .post-list {
                    .list-post {
                        flex-wrap: wrap;
                        h2 {
                            line-height: 0.9;
                            margin-bottom: 1.5rem !important;
                        }
                        .list-image {
                            width: 100%;
                            margin: 0 0 1.5em;
                        }
                    }
                }
            }
        }
    }
    .post-single {
        .content {
            .inner-content {
                main {
                    .post-title {
                        margin-top: 0;
                    }
                }
                .single-post {
                    padding: 0 1.5rem;
                    .callout-quote {
                        margin: 1rem 0;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

.cta-outer {
    margin: 2.2em 0;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta {
    background: #0e8acb;
    color: #fff;
    padding: 1em;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5em;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    &:hover,
    &:focus {
        background: darken(#0e8acb, 4%);
        top: 1px;
    }
    a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        position: relative;
        top: 3px;
        cursor: pointer;
    }
    svg {
        width: 36px;
        cursor: pointer;
        path {
            fill: #fff;
        }
    }
}

.button {
    background: transparent;
    color: #fff;
    border: 0;
    display: inline-block;
    cursor: pointer;
}

.blue-button {
    background: #0e8acb;
    padding: 1em 1.5em;
    border-radius: 4px;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.2;
}

@media (max-width: 1199px) {
    .hero-woman {
        position: absolute;
        max-width: 60%;
        right: -20%;
        bottom: -100px;
    }
    .hero-content {
        position: absolute;
        font-family: 'Showcase Sans';
        color: #fff;
        z-index: 999;
        left: 5%;
        top: 30%;
        max-width: 60%;
    }
    .extra-background-outer {
        position: relative;
        .extra-background-inner {
            height: 220px;
            width: 100%;
            background: #e02591;
            opacity: 0.5;
            position: absolute;
            top: -180px;
            transform: skewY(3deg);
        }
    }
}

@media (max-width: 799px) {
    .header {
        .inner-header {
            width: 100%;
            .site-title {
                a {
                    color: #fff;
                }
                text-align: right;
                margin-right: 50px;
            }
        }
    }
    .page-home {
        .hero-outer {
            .hero-inner {
                .hero-background {
                    img {
                        object-fit: cover;
                        width: 140%;
                        height: 600px;
                    }
                }
                .hero-woman {
                    position: absolute;
                    max-width: 70%;
                    right: -29%;
                    bottom: 0;
                }
                .hero-content {
                    h4 {
                        line-height: 0.67;
                    }
                }
                .cta {
                    font-size: 1em;
                }
            }
        }
    }
    .extra-background-outer {
        position: relative;
        .extra-background-inner {
            height: 260px;
            width: 100%;
            background: #e02591;
            opacity: 0.5;
            position: absolute;
            top: -240px;
            transform: skewY(3deg);
        }
    }
}

@media (max-width: 599px) {
    .header {
        .inner-header {
            .site-title {
                display: none;
            }
        }
    }
    .page-home {
        .hero-outer {
            .hero-inner {
                .hero-background {
                    img {
                        object-fit: cover;
                        width: 140%;
                        height: 640px;
                    }
                }
                .hero-woman {
                    position: absolute;
                    max-width: 80%;
                    right: -24%;
                    bottom: 200px;
                }
                .hero-content {
                    left: 5%;
                    top: 12%;
                    max-width: 60%;
                }
                .cta {
                    width: 116%;
                }
            }
        }
    }
    .extra-background-outer {
        position: relative;
        .extra-background-inner {
            height: 260px;
            width: 100%;
            background: #e02591;
            opacity: 0.5;
            position: absolute;
            top: -260px;
            transform: skewY(3deg);
        }
    }
    .page-home .hero-outer .hero-inner .hero-content .hero-cta {
        font-size: 1em;
    }
}

@media (max-width: 519px) {
    .extra-background-outer {
        position: relative;
        .extra-background-inner {
            height: 250px;
            width: 100%;
            background: #e02591;
            opacity: 0.6;
            position: absolute;
            top: -250px;
            transform: skewY(3deg);
        }
    }
}

@media (max-width: 1099px) {
    .page-home {
        .gallery-outer {
            margin-top: 100px;
            .gallery-inner {
                h2 {
                    font-size: 3em;
                }
            }
        }
    }
}

@media (min-width: 1100px) {
    .page-home {
        .gallery-outer {
            margin-top: 140px;
        }
    }
}

@media (min-width: 1200px) {
    .page-home {
        .gallery-outer {
            margin-top: 40px;
        }
    }
    .hero-woman {
        top: 15%;
        right: 2%;
        max-width: 40%;
        position: absolute;
    }
    .hero-content {
        left: 5%;
        top: 30%;
        max-width: 700px;
        position: absolute;
    }
    .extra-background-outer {
        position: relative;
        .extra-background-inner {
            height: 260px;
            width: 100%;
            background: #e02591;
            opacity: 0.5;
            position: absolute;
            top: -320px;
            transform: skewY(2deg);
        }
    }
}

@media (min-width: 1600px) {
    .page-home {
        .hero-outer {
            .hero-inner {
                .hero-content {
                    max-width: 62%;
                    h2 {
                        font-size: 4em;
                    }
                    h3 {
                        font-size: 3em;
                    }
                }
            }
        }
        .gallery-outer {
            // margin-top: -20px;
        }

        .extra-background-outer {
            position: relative;
            .extra-background-inner {
                height: 360px;
                width: 100%;
                background: #e02591;
                opacity: 0.5;
                position: absolute;
                top: -400px;
                transform: skewY(2deg);
            }
        }
    }
}
